 body{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            background: linear-gradient( to bottom right, rgb(255, 255, 255), aliceblue);
            height: 120vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;

        }
        form{
            background-color: whitesmoke;
            border: 1px black solid;
            border-radius: 20px;
            width: 40vw;
            padding: 50px;
            box-shadow: 5px 5px 5px rgb(107, 97, 97);
        }
        form label{
            font-size: 25px;
            color: black;
            margin-bottom: 15px;
            display: block;
        }
        form input{
            padding: 12px;
            width: 40vw;
            border: 1px rgb(153, 148, 148) solid;
            box-shadow: 2px 2px 2px rgb(59, 59, 59);
            border-radius: 10px;
            margin-bottom: 20px;
        }
        form button{
            width: 42vw;
            padding: 15px;
            text-align: center;
            border-radius: 10px;
            background-color: gray;
            box-shadow: 2px 2px 2px gray;
            margin-top: 20px;
            font-size: 20px;
        }
        button:hover{
            background-color: rgb(83, 77, 77);
            color: whitesmoke;
            
        }