body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}
h1:hover{
    color: black;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(48, 47, 47);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],input[type="number"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}



.error {
    color: #d9534f;
    font-size: 14px;
}
        span{
            color: red;
        }