*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left: 58%;
}
li{
    color: gray;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.search{
    padding: 20px;
    text-align: center;
}
.p{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    color: blue;
}
.p:hover{
    background-color: black;
    color: white;

}
.About{
    text-align: center;
    padding: 15px;
}
.text{
    color: white;
}
.bc{
    background-color: black;
    width: 100%;
    height: 200px;
}