  
    body{
        margin: 0px;
    }
    .main1{
        position: relative;
        width: 100vw;
        height: 10vh;
        background: linear-gradient(to right, rgb(219, 219, 233), rgb(179, 168, 168));
    }
    .main3{
        position: relative;
        width: 100vw;
        height: 20vh;
        background-color: gray;
    }
    .sub11 h1{
        position: absolute;
        top: -2vh;
        left: 10vw;
        color: rgb(32, 84, 197);
        font-size: 40px;
    }
    .sub11 table{
        position: absolute;
        right: 2vw;
        color: whitesmoke;
        font-size: 25px;
        top: 0vh;
        
    }
    .sub11 td{
        padding: 30px;
    }
    .sub11 td:hover{
            color: black;
        }
        .sub11 a{
            text-decoration: none;
            color: whitesmoke;
        }
    .main2{
        position: relative;
        width: 100vw;
        height: 80vh;
        background-color: black;

    }
    .sub21 img{
        
        position: absolute;
        width: 100vw;
        height: 80vh;
    }
    .sub22 h1{
        position: absolute;
        font-size: 30px;
        color: whitesmoke;
        top: 15vh;
        left: 13vw;
        }
        .sub22 h2{
        position: absolute;
        font-size: 35px;
        color: whitesmoke;
        top: 25vh;
        left: 13vw;
        }
        .sub22 h3{
        position: absolute;
        font-size: 40px;
        color: whitesmoke;
        top: 35vh;
        left: 13vw;
        }
    
    
        .sub23 img{
            position: absolute;
            width: 15vw;
            height: 35vh;
            left: 65vw;
            top: 10vw;
            border: 2px aliceblue solid;
            border-radius: 75px;
            box-shadow: 10px 10px 10px rgb(26, 25, 25);
            transition: all 2s ease;
        }
        .sub23 img:hover{
            left: 50vw;
            

        }
        .hide{
            position: absolute;
            display: none;
            color: white;
            font-size: xx-large;
            top: 18vw;
            left: 43vw;
        }
        .hide h1{
            position: absolute;
            bottom: 5vw;
            left: 5vw;
        }
        .hide img{
            width: 60px;
            height: 60px;
            
        }
        .hide td:hover{
             width:65px;
            height: 65px;
            /* border: 2px solid azure; */
            box-shadow: 3px 3px 3px rgb(71, 69, 69);
        }
        .hide td{
            padding: 20px;
        }
        .sub24 button{
            position: absolute;
            border: 2px whitesmoke solid;
            border-radius: 20px;
            width: 15vh;
            height: 5vh;
            top: 52vh;
            left: 13vw;
            background-color: rgb(158, 90, 221);
            color: whitesmoke;
            box-shadow: 5px 5px 5px rgb(26, 25, 25);

        }
        .sub24 button:hover{
            background-color: rgb(80, 75, 75);
            border:2px white solid;
            
        }
        .sub25{
            position: absolute;
            top: 28vw;
            left: 13vw;

        }
        .sub25 img{
            width: 6vh;
            height: 6vh;
            padding: 6px;
        }
        .sub25 img:hover{
            transform: scale3d(1.5,1.5,1.5);
            padding: 8px;
            
        }
        .main{
            position: relative;

        }
        .main3 h1{
            color: whitesmoke;
            position: absolute;
            top: 2vw;
            left: 35vw;
        }
        .main3 h1:hover{
            color: black;

        }
        
