        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            font-family: Georgia, 'Times New Roman', Times, serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: whitesmoke;   
        }
        .container{
            height: auto;
            width: 70vh;
            padding: 30px;
            border: 2px rgb(78, 75, 75) solid;
            border-radius: 15px;
            text-align: center;
            box-shadow: 10px 10px 10px gray;
        }
        .container:hover{
            background-color: rgb(240, 234, 234);
        }
        input{
            padding: 10px;
            width: 50vh;
            margin-top: 15px;
            border: 2px gray solid;
            border-radius: 10px;
            display: inline-block;
            
        }
        button{
            padding: 15px;
            width: 40vh;
            margin-top: 20px;
            border: 2px rgb(71, 71, 161)  solid;
            background-color: rgb(71, 71, 161) ;
            color: whitesmoke;
            border-radius: 10px;
        }
        button:hover{
            background-color: blue;
        }
        h1{
            font-size: 25px;
            color: rgb(26, 20, 20);
        }
        #qrcode{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20px auto;
            padding: 15px;
            background-color: #e9ecef;
            border-radius: 8px;
        }
        footer{
            margin-top: 20px;
            font-size: 12px;
            color: #888;
        }