*{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(255, 255, 255);
            font-family: 'Times New Roman', Times, serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }
        #container{
            background-color: rgb(255, 255, 255);
            max-width: 400px;
            width: 100%;
            height: 260px;
            border: 1px black solid;
            border-radius: 10px;
            box-shadow: 10px 10px 10px black;

        }
        textarea{
             width: 350px;
            height: 135px;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid black;
            border-radius: 6px;
            font-size: 16px;
            outline: none;
            resize: none;
            box-shadow: 2px 2px 2px gray;
            
            
            
        }
        button{
            width: 350px;
            height: 40px;
            background-color: rgb(45, 45, 182);
            color: whitesmoke;
            border-radius: 10px;
            box-shadow: 2px 2px 2px black;
            transition: all 0.5s ease;

        }
        button:hover{
            background-color: blue;
        }
        h1{
            text-shadow: 1px 1px 1px rgb(66, 61, 61);
        }