 body{
                margin: 0px;
            }
             table,tr,th,td{
                   border-inline: 2px;
                border:2px solid black ;
                padding: 6px;
                text-align: center;} 
        
        
     div{
        
         background-color: black;
         width: 100%;
         height: 50px;
         color: white;
         transition: all 2s ease;
         
         }
         div:hover{
            background-color: white;
            color: black;
         }
        