 *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            padding: 20px;
            width: 100%;
            max-width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 70vh;
            margin-top: 0vh;
            font-family: 'Times New Roman', Times, serif;

       }
       table:hover{
        transform: scale3d(1.1, 1.1, 1.1);

       }

       table{
        border: 2px black solid;
        border-radius: 20px;
        width: 35vw;
        height: 60vh;
        box-shadow: 10px 10px 10px black;
        transition: all 1s ease;
        
       }
       label{
        font-size: 25px;
       }
       h1{
        font-size: 30px;
        margin-left: 5vh;
       }
       input{
        padding: 8px;
        width: 45vh;
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
       }
       button{
        padding: 5px;
        width: 13vh;
        margin-left: 12vh;
        border-radius: 10px;
        background-color: aquamarine;
        box-shadow: 2px 2px 2px aquamarine;
       }
       button:hover{
        background-color: aqua;
        color: whitesmoke;
       }
    
